<div class="content-center">
    <h2>送信が完了しました</h2>
    <p>内容は以下のとおりです</p>
    <p>
        [タイトル]<br>
        <strong><%= @event.title %></strong></p>
    </p>
    <p>
        [本文]<br>
        <strong><%= @event.content %></strong>
    </p>
</div>

